@font-face {
  font-family: 'sailec';
  src: url('../fonts/Sailec-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'railec';
  src: url('../fonts/Sailec-Regular.ttf') format('truetype');
}

html, body, .nav {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: 'sailec', sans-serif;
  font-weight: 200;
}

a:visited {
  color: black;
}

.nav a:hover {
  color: white;
  background-color: black;
}

#logo a:hover {
  color: white;
  background-color: black;
  padding-bottom:.55em;

}

.nav {
  margin-top: 0;
  z-index: 1;
  display: flex;
  padding:.6em 0 .6em;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .3);
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
  align-items:center;
}

#logo a {
  padding: .38em;
  margin-left: 1.5em;
  font-family: Righteous;
  font-weight: 400;
  font-size: 25px;
  color: white;
}

#logo {
  flex: 0 0 75%;
}

.items a {
  padding: 1.1em;
  color: white;
}

.items {
  display: flex;
  width: 100%;
  top: 45em;
}

.items li {
  flex: 1 1 0%;
  text-align: left;
}

.nav li {
  list-style-type: none;
}

.nav a {
  text-decoration: none;
}

.block {
  margin-top: -1px;
  margin-left: -.5px;
  Width: 100%;
  height: 510px;

  overflow: hidden;
}

.block img {
  margin-top:-2em;
  object-fit: contain;
  width: 100%;
  height: 600px;
}
#blue{
  background-image: linear-gradient(to right, #0b6393 , #0c6697);
}

body {
  font-family: railec;
}

main{
  padding:.5em 5em;
}

p, li:not(.items){
  line-height: 2em;
  color:#33333;

}

h3{
  margin:.5em 0;
}

h2{
  font-size:1.8em;
  margin: .8em 0 0;
}

h1{
  font-size:2.5em;
  margin-bottom: -.1em;
  font-weight:600;
}
img{
  width:100%;
}
.summary{
  display:flex;
}
.summary div:first-of-type{
  flex: 0 1 70%;
  margin-right:5em;
}

.nav-content{
  display:flex;
  align-items:center;
  width:100%;
}


.nav-content p{
flex: 1 1 90%;
}

.nav-content img{
  width:100%;

}
.hf{
  display:flex;
  align-items:center;
  margin-bottom:6em;
}
.hf img{
  width:50%;
  margin-right:2em
}
.hf p{
  width:90%;
}
.parallax {

  background-image: url("../Journeymap.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center 7em;
  background-repeat: no-repeat;
  background-size: contain;
  backbround-color:red;
}
.Journey-map h2{
  padding:.5em 2.5em;
}

div:not(){
  margin-bottom:40em
}
